.strimko-title {
	color: green;
}
.number-row {
	height: 50%;
}

.number-cell {
	/*border: 5px solid green;*/
	margin-top: 20px;
	margin-left: 5px;
}

.number-panel {
	z-index: 0;
}

.node-entry {
	height: 48px;
	width: 48px;
	font-size: 1.5em;
	z-index: 0;
}

.mat {
	height: 380px;
	width: 380px;
	position: absolute;
	top: -25px;
	left: 0px;

}

.numItem {
	z-index: 10;
}

.pickNumMenu {
	background: yellow;
	color: green;
	position: absolute;
	top: -40px;
	z-index: 10;
}